<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Swole Boys</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
        integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>



</head>

<body>

    <h1>

        <a href="../views/exercise1.html"> <button
                style="background-color: #946f9e; margin-left: 1%;position: absolute; height: 7%; display: block;"
                class="ui icon button">
                <i class="big left arrow icon"></i>
            </button></a>
        Arms

    </h1>
    <div class="ui stackable grid">
        <div class="four wide column">
            <div class="ui vertical fluid tabular menu">
                <a class="item" data-tab="tab-name1">
                    Alternating Incline Dumbbell Curl (Biceps)
                </a>
                <a class="item" data-tab="tab-name2">
                    Seated Alternating Hammer Curl (Biceps)
                </a>
                <a class="item" data-tab="tab-name3">
                    Standing Cable Curl (Biceps)
                </a>
                <a class="item" data-tab="tab-name4">
                    Close-grip Bench Press (Triceps)
                </a>
                <a class="item" data-tab="tab-name5">
                    Rope Tricep Pushdown (Triceps)
                </a>
                <a class="item" data-tab="tab-name6">
                    Isolated Triceps Extension (Triceps)
                </a>
                <a class="item" data-tab="tab-name7">
                    Seated/Machine Reverse Wrist Curl (Forearms)
                </a>

            </div>
        </div>
        <div class="twelve wide stretched column">
            <div class="ui segment">
                <div id="placeholder">
                    <h1>Click on a specific workout on the left to be able to view information on it.</h1>
                </div>
                <div class="ui tab" data-tab="tab-name1">
                    <p><b>Description: </b> If you really want to add some size to that bicep bulge, one of the best
                        bicep exercises to test out is the
                        Alternating Incline Dumbbell Curl. This variation helps to strengthen the upper section of your
                        biceps brachii, helping you to
                        achieve that large muscle growth you’ve been chasing.</p>
                    <p><b>Instructions</b></p>
                    <ol>
                        <li>On an incline bench, lie back with a dumbbell in each hand and palms facing forward.</li>
                        <li>GKeeping your elbow and shoulder stationary, slowly lift one weight to the front of your
                            shoulder.</li>
                        <li>Pause, squeezing your bicep at the top.</li>
                        <li>Slowly reverse the movement to return to start.</li>
                        <li>Repeat on the opposite side.</li>
                    </ol>

                    <embed src="https://www.youtube.com/embed/bgYt7ZgFc9M" allowfullscreen="true" width="100%"
                        height="500">

                </div>
                <div class="ui tab" data-tab="tab-name2">
                    <p><b>Description: </b> While not necessarily the most well-known bicep exercise, the Hammer Curl is
                        a favourite among bodybuilders and strongmen alike.
                        This Seated Alternating Hammer Curl variation allows you to focus on each arm individually,
                        concentrating on singular growth and isolation. Put simply,
                        the Hammer Curl allows you to switch muscle groups, strengthening your biceps brachialis, a
                        deeper muscle that will aid in overall strength and shape</p>
                    <p><b>Instructions</b></p>
                    <ol>
                        <li>Sit on a 90-degree bench with a dumbbell in each hand, palms facing in toward your body and
                            arms extended straight toward the floor. </li>
                        <li>Keeping your elbow and shoulder stationary, slowly lift one weight to the front of your
                            shoulder.</li>
                        <li>Pause, squeezing your bicep at the top.</li>
                        <li>Slowly reverse the movement to return to start.</li>
                        <li>Repeat on the opposite side.</li>
                    </ol>

                    <embed src="https://www.youtube.com/embed/AFWRIzDA5zI" allowfullscreen="true" width="100%"
                        height="500">

                </div>
                <div class="ui tab" data-tab="tab-name3">
                    <p><b>Description: </b> Forget what you think you know about cable-work. Cables are actually a great
                        way to work out different sections of your body, in particular, the bicep brachioradialis. The
                        Standing Cable Curl allows you to keep consistent resistance, increasing the strain on your
                        muscles and giving you a far more efficient bicep workout. </p>
                    <p><b>Instructions</b></p>
                    <ol>
                        <li>Stand with feet shoulder-width apart facing a cable machine with the machine’s handle on the
                            lowest setting. </li>
                        <li>Hold the handle with both hands palm facing forward and arms extended straight to the floor.
                        </li>
                        <li>Keeping your elbows and shoulders stationary, slowly lift the weight to the front of your
                            shoulders. </li>
                        <li>Pause, squeezing your biceps at the top</li>
                        <li>Slowly reverse the movement to return to start.</li>
                        <li>Repeat on the opposite side.</li>
                    </ol>

                    <embed src="https://www.youtube.com/embed/85kXYq7Ssh4" allowfullscreen="true" width="100%"
                        height="500">

                </div>
                <div class="ui tab" data-tab="tab-name4">
                    <p><b>Description: </b> The bench press is a great tricep exercise to work your chest and core.
                        Placing your hands closer together makes it so your triceps have to work harder, which can lead
                        to new growth and more strength. </p>
                    <p><b>Instructions</b></p>
                    <ol>
                        <li>Grasp a barbell with an overhand grip that’s shoulder-width apart, and hold it above your
                            sternum with arms completely straight. </li>
                        <li>Lower the bar straight down, pause, and then press the bar back up to the starting position.
                        </li>
                    </ol>

                    <embed src="https://www.youtube.com/embed/cXbSJHtjrQQ" allowfullscreen="true" width="100%"
                        height="500">

                </div>
                <div class="ui tab" data-tab="tab-name5">
                    <p><b>Description: </b> This move zones in on your triceps – but only if you do it right. If you use
                        too much weight, you’ll involve your back and shoulder muscles, defeating the purpose. If you
                        can’t keep your shoulders down, lighten the load. </p>
                    <p><b>Instructions</b></p>
                    <ol>
                        <li>Attach a rope handle to the high pulley of a cable station. Bend your arms and grab the bar
                            with an overhand grip, your hands shoulder-width apart. Tuck your upper arms next to your
                            sides.</li>
                        <li>Without moving your upper arms, push the bar down until your elbows are locked. Slowly
                            return to the starting position.</li>
                    </ol>

                    <embed src="https://www.youtube.com/embed/GCa8Q4e7laU" allowfullscreen="true" width="100%"
                        height="500">

                </div>
                <div class="ui tab" data-tab="tab-name6">
                    <p><b>Description: </b> When you work your triceps, you might forget there are three parts to the
                        muscle: the lateral head, the medial head, and the long head. The last part might not always get
                        the attention it deserves – unless you're regularly doing exercises like this one, with your
                        arms over your head to isolate the long head.</p>
                    <p><b>Instructions</b></p>
                    <ol>
                        <li>Sit on a bench and grab one dumbbell. Form a diamond shape with both hands to grip the top
                            end of the weight. Raise the dumbbell over your head, keeping your elbows up and your core
                            tight. </li>
                        <li>Lower the dumbbell down the top of your back by bending at the elbow, maintaining your
                            strong chest and keeping your shoulders still.</li>
                        <li>Raise the weight by fully extending your arms, pausing for a count to squeeze at the top of
                            the movement.</li>
                    </ol>

                    <embed src="https://www.youtube.com/embed/4re6CJ0XNF8" allowfullscreen="true" width="100%"
                        height="500">

                </div>
                <div class="ui tab" data-tab="tab-name7">
                    <p><b>Description: </b> The reverse wrist curl targets the top or extensor muscles of the forearms –
                        this forearm exercise has a few variations – dumbbells/barbells/standing/sitting etc.</p>
                    <p><b>Instructions</b></p>
                    <ol>
                        <li>Start with a biceps curl rod/dumbbells with a manageable weight and face your palms upside
                            down. </li>
                        <li>Rest your forearms on the bench/your knee</li>
                        <li>Without lifting your forearms, try to pull your wrists up. Keep it movement slow.</li>
                        <li>Hold the movement for some time at the peak concentration level before slowly lowering the
                            bar/dumbbells back to the start position.</li>
                    </ol>

                    <embed src="https://www.youtube.com/embed/FW7URAaC-vE" allowfullscreen="true" width="100%"
                        height="500">

                </div>
            </div>

        </div>
    </div>





    <script type="text/javascript" src="../stylesheets/model.js"></script>

</body>

</html>