<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Swole Boys</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
        integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>



</head>

<body>

    <h1>

        <a href="../views/exercise1.html"> <button
            style="background-color: #946f9e; margin-left: 1%;position: absolute; height: 7%; display: block;"
            class="ui icon button">
            <i class="big left arrow icon"></i>
        </button></a>
        Back

    </h1>
    <div class="ui stackable grid">
        <div class="four wide column">
            <div class="ui vertical fluid tabular menu">
                <a class="item" data-tab="tab-name1">
                    Dumbbell Single-Arm Row
                </a>
                <a class="item" data-tab="tab-name2">
                    Lat Pulldowns
                </a>
                <a class="item" data-tab="tab-name3">
                    Farmer's Walk
                </a>
                <a class="item" data-tab="tab-name4">
                    Barbell Bent-Over Row
                </a>
                <a class="item" data-tab="tab-name5">
                    Pull-up
                </a>
                <a class="item" data-tab="tab-name6">
                    Inverted Row
                </a>
            </div>
        </div>
        <div class="twelve wide stretched column">
            <div class="ui segment">
                <div class="ui tab" data-tab="tab-name1">
                    <p><b>Description: </b> A great and simple exercise for targeting the lats. Its slow movement allows you to concentrate on the exercises form well. </p>
                    <b>Instructions</b>
                    <ol>
                        <li>Get a dumbbell of a desired weight and a flat bench. Place your right hand on the bench directly underneath your shoulder. Place your right
                            knee on the bench.</li>
                        <li>Grasp the dumbbell in your left hand and row it up until your upper arm is parallel to the floor.</li>
                        <li>Lower the left arm slowly to the floor without dropping the shoulders and while keeping the torso locked.</li>
                        <li>Repeat on the other arm with left knee and left hand on flat bench and right arm doing the lifting.</li>
                    </ol>

                    <embed src="https://www.youtube.com/embed/pYcpY20QaE8" allowfullscreen="true" width="425"
                        height="344">

                </div>
                <div class="ui tab" data-tab="tab-name2">
                    <p><b>Description: </b> An isometric workout designed to effectively target the lats. This workout is very commonly seen performed by body-builders</p>
                    <b>Instructions</b>
                    <ol>
                        <li>At the lat pulldown machine, grab the bar with a wide, overhand grip. Set the desired weight on the machine.</li>
                        <li>Grasp the bar from a standing position and sit down on the bench.</li>
                        <li>In one motion, pull the bar down to around chin level, exhaling during the pull down. Keep shoulders locked and squeeze the shoulder blades together.</li>
                        <li>At the bottom of the position, gently bring the bar back to original position.</li>
                    </ol>

                    <embed src="https://www.youtube.com/embed/CAwf7n6Luuc" allowfullscreen="true" width="425"
                        height="344">

                </div>
                <div class="ui tab" data-tab="tab-name3">
                    <p><b>Description: </b> A very simple exercise that targets hand grip-strength and the entire back. </p>
                    <b>Instructions</b>
                    <ol>
                        <li>Choose a pair of dumbbells of desired weight. Hold both dumbbells by your sides in a standing position.</li>
                        <li>Walk short, quick steps while maintaining tension in arms.</li>
                    </ol>

                    <embed src="https://www.youtube.com/embed/Fkzk_RqlYig" allowfullscreen="true" width="425"
                        height="344">

                </div>
                <div class="ui tab" data-tab="tab-name4">
                    <p><b>Description: </b>A very effective exercise at targeting the whole of the upper back while recruiting muscles from other muscle groups.</p>
                    <b>Instructions</b>
                    <ol>
                        <li>Grab a barbell with overhand grip and bring it to a standing position. Bend-the upper body forwards 45 degrees while keeping
                            shoulder blades back, legs slightly bent, and back completely straight.</li>
                        <li>Row the barbell towards you into the lower part of the chest, exhaling as you row.</li>
                        <li>At the top, pause then gently bring barbell back down to the resting position.</li>
                    </ol>

                    <embed src="https://www.youtube.com/embed/vT2GjY_Umpw" allowfullscreen="true" width="425"
                        height="344">

                </div>
                <div class="ui tab" data-tab="tab-name5">
                    <p><b>Description: </b> An intermediate workout which will target the lats directly. This workout is great for those wanting the v-shape physique </p>
                    <b>Instructions</b>
                    <ol>
                        <li>Grab the handles or a pull-up bar with plams facing away and arms fully extended. Hands should be about shoulder-width apart.</li>
                        <li>Squeeze the shoulder blades together, exhale, and bring your elbows down to your hips. This should raise your chin above the bar.</li>
                        <li>Lower your body down gently to the resting position.</li>
                    </ol>

                    <embed src="https://www.youtube.com/embed/XeErfmGSwfE" allowfullscreen="true" width="425"
                        height="344">

                </div>
                <div class="ui tab" data-tab="tab-name6">
                    <p><b>Description: </b> A great exercise for targeting the arms, back, and grip-strength. This exercise can be used by a novice to build-up to a pull-up.</p>
                    <b>Instructions</b>
                    <ol>
                        <li>Place a barbell on a squat rack such that it is stable. </li>
                        <li>Position yourself under the bar such that when you lie down, the bar is an arms-length away.</li>
                        <li>From a lie-down position, grasp the bar and pull the chest to the bar, while squeezing the shoulder blades together and keeping elbows in.</li>
                        <li>At the top of the motion, pause, and then gently lower back down.</li>


                    </ol>

                    <embed src="https://www.youtube.com/embed/hXTc1mDnZCw" allowfullscreen="true" width="425"
                        height="344">

                </div>
            </div>

        </div>
    </div>





    <script type="text/javascript" src="../stylesheets/model.js"></script>

</body>

</html>