<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Swole Boys</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
        integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>



</head>

<body>

    <h1>

        <a href="../views/exercise1.html"> <button
            style="background-color: #946f9e; margin-left: 1%;position: absolute; height: 7%; display: block;"
            class="ui icon button">
            <i class="big left arrow icon"></i>
        </button></a>
        Cardio

    </h1>
    <div class="ui stackable grid">
        <div class="four wide column">
            <div class="ui vertical fluid tabular menu">
                <a class="item" data-tab="tab-name1">
                    Rowing Machine
                </a>
                <a class="item" data-tab="tab-name2">
                    Swimming
                </a>
                <a class="item" data-tab="tab-name3">
                    Cycling
                </a>
                <a class="item" data-tab="tab-name4">
                    Jump Rope
                </a>
                <a class="item" data-tab="tab-name5">
                    Stair Master
                </a>
                <a class="item" data-tab="tab-name6">
                    Treadmill
                </a>
                <a class="item" data-tab="tab-name7">
                    Elliptical
                </a>
            </div>
        </div>
        <div class="twelve wide stretched column">
            <div class="ui segment">
                <div class="ui tab" data-tab="tab-name1">
                    <p><b>Description: </b> an exercise machine having a mechanism with two oarlike handles, foot
                        braces, and a sliding seat, allowing the user to go through the motions of rowing in a racing
                        shell </p>
                    <b>Instructions</b>
                    <ol>
                        <li>Sit tall on the rowing machine with your arms straight, back upright, and knees and ankles
                            flexed so that your shins are roughly vertical. From this position, use your lats to pull
                            your shoulders down and brace your core. This engagement will help protect your lower back.
                            Then lean forward slightly, keeping your back tall. </li>
                        <li>Begin by pushing with your legs, while still bracing and contracting your core. When your
                            legs are straight, hinge at the hips and lean back to about 45 degrees. The last movement is
                            from your arms as you pull the handle towards your torso, a few inches above your belly
                            button. Note the specific order of body movements: legs, core, hips and shoulders, arms.
                        </li>
                    </ol>

                    <embed src="https://www.youtube.com/embed/H0r_ZPXJLtg" allowfullscreen="true" width="425"
                        height="344">

                </div>
                <div class="ui tab" data-tab="tab-name2">
                    <p><b>Description: </b> “Freestyle” is a term used for competitive swimming. In theory, it means a
                        swimmer can swim whatever stroke she desires. In practicality, it means crawl, which is the
                        fastest stroke. </p>
                    <b>Instructions</b>
                    <ol>
                        <li>Start by just pushing off the wall of the pool, stretching your arms out straight in front
                            of you (overlap your hands as if you were diving) and gliding as far as you can. Keeping
                            your legs together and straight, but relaxed</li>
                        <li>Adding the kick without upsetting your body position is the next phase. Kick gently from the
                            hip – imagine your legs are ‘switched off’ and all the energy needed for the kick comes from
                            those hip joints. Keep your legs straight, but not locked, and let your big toes brush each
                            other. Point your toes but don’t strain – your ankles should be relaxed.</li>
                        <li>As each arm enters the water in freestyle, your body rotates towards that side, so the other
                            side comes up and you have time to breathe. Practise the arm action and rotation by lightly
                            holding on to a float in front of you, kicking gently and performing front crawl one arm at
                            a time</li>
                        <li>Practise breathing: the key is to use a natural, relaxed exhalation under the water, letting
                            all the air out of your lungs, so you’re ready to inhale in time with your stroke as you
                            rotate your face out of the water</li>
                    </ol>

                    <embed src="https://www.youtube.com/embed/5HLW2AI1Ink" allowfullscreen="true" width="425"
                        height="344">

                </div>
                <div class="ui tab" data-tab="tab-name3">
                    <p><b>Description: </b> A stationary bicycle (also known as exercise bicycle, exercise bike,
                        spinning bike, or exercycle) is a device used as exercise equipment for indoor cycling. </p>
                    <b>Instructions</b>
                    <ol>
                        <li>Adjust the seat. When the pedal is at the lowest position, your leg should be almost, but
                            not quite, straight. You shouldn’t have to strain or rock your hips to pedal. Your knees
                            shouldn’t feel crunched when they’re at the top of the pedal stroke. With a recumbent bike,
                            you adjust the seat forward and back, rather than up and down, but the principles are the
                            same</li>
                        <li>You should be able to hold the bar so that your arms extend out at shoulder level. You
                            shouldn’t have to squirm around to get comfortable. Handlebar adjustment is especially
                            important if you’re very tall or very short</li>
                        <li>Press from the ball of your foot and through your heel as you pump downward on the pedal,
                            and pull up with the top of your foot on the upstroke</li>
                        <li>Keep your chest up, shoulders back and down, ears in line with your shoulders, and belly
                            button drawn in</li>
                    </ol>

                    <embed src="https://www.youtube.com/embed/jhPqTyejY_0" allowfullscreen="true" width="425"
                        height="344">

                </div>
                <div class="ui tab" data-tab="tab-name4">
                    <p><b>Description: </b>A person must jump, bounce or skip repeatedly while a length of rope is swung
                        over and under, both ends held in the hands of the jumper.</p>
                    <b>Instructions</b>
                    <ol>
                        <li>Keep your feet close together when jumping</li>
                        <li>Jump on the midsoles of your feet and land softly</li>
                        <li>Keep your knees slightly bent at all times</li>
                        <li>Maintain a tall, neutral spine</li>
                        <li>Keep your head up, chest up, and head looking forward</li>
                        <li>Keep your hands along the midline of your body (along that string)</li>
                        <li>Use your wrists to turn the rope (not your elbows or shoulders)</li>
                    </ol>

                    <embed src="https://www.youtube.com/embed/u3zgHI8QnqE" allowfullscreen="true" width="425"
                        height="344">

                </div>
                <div class="ui tab" data-tab="tab-name5">
                    <p><b>Description: </b> stationary fitness machine that rotates steps, similar to a treadmill,
                        allowing the user to climb upward at the speed and duration he or she sets. </p>
                    <b>Instructions</b>
                    <ol>
                        <li>Mount the Stairmaster</li>
                        <li>Start your workout</li>
                        <li>Keep your form</li>
                        <li>Try different techniques</li>


                    </ol>

                    <embed src="https://www.youtube.com/embed/R5i62iA4ONA" allowfullscreen="true" width="425"
                        height="344">

                </div>
                <div class="ui tab" data-tab="tab-name6">
                    <p><b>Description: </b> device generally used for walking, running, or climbing while staying in the
                        same place.</p>
                    <b>Instructions</b>
                    <ol>
                        <li>Pay attention to the settings on the equipment</li>
                        <li>Use the safety clip</li>
                        <li>Use console to increase/decrease speed and elevation</li>


                    </ol>

                    <embed src="https://www.youtube.com/embed/8i3Vrd95o2k" allowfullscreen="true" width="425"
                        height="344">

                </div>
                <div class="ui tab" data-tab="tab-name7">
                    <p><b>Description: </b> Stationary exercise machine used to stair climb, walk, or run without
                        causing excessive pressure to the joints.</p>
                    <b>Instructions</b>
                    <ol>
                        <li>Step onto the machine facing the monitor</li>
                        <li>Begin pedaling to turn it on</li>
                        <li>Start pedaling at an even pace</li>
                        <li>Do not lock your knees</li>
                        <li>Increase the incline and resistance as you go</li>



                    </ol>

                    <embed src="https://www.youtube.com/embed/j38LNpTLwzY" allowfullscreen="true" width="425"
                        height="344">

                </div>
            </div>

        </div>
    </div>





    <script type="text/javascript" src="../stylesheets/model.js"></script>

</body>

</html>