<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Swole Boys</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
        integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>



</head>

<body>
    <h1>

        <a href="../views/exercise1.html"> <button
                style="background-color: #946f9e; margin-left: 1%;position: absolute; height: 7%; display: block;"
                class="ui icon button">
                <i class="big left arrow icon"></i>
            </button></a>
        Chest

    </h1>

    <div class="ui stackable grid">
        <div class="four wide column">
            <div class="ui vertical fluid tabular menu">
                <a class="item" data-tab="tab-name1">
                    Bench Press
                </a>
                <a class="item" data-tab="tab-name2">
                    Cable Flys
                </a>
                <a class="item" data-tab="tab-name3">
                    Dumbbell Press
                </a>
                <a class="item" data-tab="tab-name4">
                    Low-incline Barbell Bench Press
                </a>
                <a class="item" data-tab="tab-name5">
                    Seated Machine Chest Press
                </a>
                <a class="item" data-tab="tab-name6">
                    Pec-Deck Machine
                </a>
            </div>
        </div>
        <div class="twelve wide stretched column">
            <div class="ui segment">
                <div id="placeholder">
                    <h1>Click on a specific workout on the left to be able to view information on it.</h1>
                </div>
                <div class="ui tab" data-tab="tab-name1">
                    <p><b>Description: </b> The bench press builds the muscles of the chest as well as the triceps of
                        the back of the arms and the front deltoid shoulder muscles. </p>
                    <b>Instructions</b>
                    <ol>
                        <li>Lie on the bench under the rack that holds the bar. Your eyes should be approximately
                            aligned with the front of the barbell rack uprights. Butt, shoulders, and head should be
                            flat on the bench with a slight (neutral) bend in the spine. </li>
                        <li>Grasp the bar with your thumbs on the outside of your closed fist, overhand grip, with arms
                            slightly wider than shoulder-width apart. The angle of the upper arms should be at about 45
                            degrees to the body.</li>
                    </ol>

                    <embed src="https://www.youtube.com/embed/vthMCtgVtFw" allowfullscreen="true" width="425"
                        height="344">

                </div>
                <div class="ui tab" data-tab="tab-name2">
                    <p><b>Description: </b> Cable flys are extemely verstaile and allow you to expand the width of your
                        chest. Able to perform straight, incline, and decline flys that work all around the pectoral
                        area. </p>
                    <b>Instructions</b>
                    <ol>
                        <li>Stand between two high pulley cables with stirrup attachments. </li>
                        <li>Hold left handle in left hand and right handle in right hand with an overhand grip (palms
                            facing down). Stand upright in a staggered stance with arms outstretched but slightly bent
                            so that knuckles are facing forward.. This is the starting position.</li>
                        <li>Begin exercise by pushing cables forward and together so that your wrists cross when arms
                            are fully extended. Pause, then slowly reverse movement back to starting position. This
                            completes one rep.</li>
                    </ol>

                    <embed src="https://www.youtube.com/embed/1SoJVttMI1w" allowfullscreen="true" width="425"
                        height="344">

                </div>
                <div class="ui tab" data-tab="tab-name3">
                    <p><b>Description: </b> The dumbbell press activates the chest and shoulders and helps to strengthen
                        your form much more due to the individual grip for each dumbbell. </p>
                    <b>Instructions</b>
                    <ol>
                        <li>Lie back on a bench holding a dumbbell in each hand just to the sides of your shoulders.
                            Your palms should be facing towards your feet in the starting position, although if you have
                            shoulder issues then switch to a neutral grip, where the palms face each other. </li>
                        <li>Press the weights above your chest by extending your elbows until your arms are straight,
                            then bring the weights back down slowly. To take advantage of the range of movement offered
                            by using dumbbells rather than a barbell, take the weights down past your shoulders and
                            bring them closer together at the top of the movement.</li>
                    </ol>

                    <embed src="https://www.youtube.com/embed/SHsUIZiNdeY" allowfullscreen="true" width="425"
                        height="344">

                </div>
                <div class="ui tab" data-tab="tab-name4">
                    <p><b>Description: </b> Throwing a mild incline into the mix allows for greater range of motion to
                        attack the chest muscles far more effectively than the standard bench. </p>
                    <b>Instructions</b>
                    <ol>
                        <li>Pick up the dumbbells off the floor using a neutral grip (palms facing in). Position the
                            ends of the dumbbells in your hip crease, and sit down on the edge of an incline bench.
                        </li>
                        <li>To get into position, lay back and keep the weights close to your chest. Once you are in
                            position, take a deep breath, and press the dumbbells to lockout at the top.</li>
                        <li>Slowly lower the dumbbells under control as far as comfortably possible (the handles should
                            be about level with your chest).</li>
                        <li>Repeat for the desired number of repetitions.</li>
                    </ol>

                    <embed src="https://www.youtube.com/embed/B09ZkYsnKko" allowfullscreen="true" width="425"
                        height="344">

                </div>
                <div class="ui tab" data-tab="tab-name5">
                    <p><b>Description: </b> The seated chest press machine is an upright version of the standard lying
                        bench press machine. The arms, placed under a weight-bearing load, are pushed away from the
                        chest and returned to starting position </p>
                    <b>Instructions</b>
                    <ol>
                        <li>Sit so feet are flat on floor, knees are above ankles, back is straight and supported on
                            pad.</li>
                        <li> Grip the handles near your chest, palms facing downward. Engage abs and keep spine
                            straight.</li>
                        <li>When pushing the handles forward, make sure the elbows do not lock. Aim for a full range of
                            motion, but don’t allow the weight stack to slam back down.</li>
                    </ol>

                    <embed src="https://www.youtube.com/embed/2y6ntGVg4dw" allowfullscreen="true" width="425"
                        height="344">

                </div>
                <div class="ui tab" data-tab="tab-name6">
                    <p><b>Description: </b> The pec deck works both your chest and its supporting muscles, primarily
                        your pectoralis major, which is the muscle that allows you to swing and bring your arms together
                    </p>
                    <b>Instructions</b>
                    <ol>
                        <li>Bend your arms at a 90° angle and keep your elbows at chest level. Gripping the pec deck
                            handles, pull your arms toward your body while contracting your pectoral muscles. </li>
                        <li>Bring the handles or arm pads in front of your chest, hold the position for a couple of
                            seconds, and then slowly release back to starting position.</li>
                        <li>Gripping the pec deck handles, pull your arms toward your body while contracting your
                            pectoral muscles. Bring the handles or arm pads in front of your chest, hold the position
                            for a couple of seconds, and then slowly release back to starting position.</li>
                    </ol>

                    <embed src="https://www.youtube.com/embed/5Uk3F6q3g98" allowfullscreen="true" width="425"
                        height="344">

                </div>
            </div>

        </div>
    </div>





    <script type="text/javascript" src="../stylesheets/model.js"></script>

</body>

</html>