<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Swole Boys</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
        integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>



</head>


<body>

    <div style="justify-content: space-evenly;" id="navbar" class="ui secondary pointing menu">
        <a href="../index.html" class="item">
            Home
        </a>
        <a href="./exercise1.html" class="item">
            Exercises
        </a>
        <a href="./goal.html" class="item">
            Goals
        </a>
        <a href="./tip.html" class="item">
            Tips
        </a>
        <a href="./progress.html" class="item">
            Progress Report
        </a>
        <a href="./connect.html" class="item active">
            Connect with Friends
        </a>

    </div>

    <div id="modal_one" class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            Anthony Jameson
        </div>
        <div class="image content">
            <div class="ui medium image">
                <img src="https://www.bodybuilding.com/fun/images/2015/fitness360-steve-cook.jpg">
            </div>
            <div class="description">
                <div class="ui header">Someone wants to get connected with you!</div>
                <p style="font-family: 'Quicksand', sans-serif; font-size: 22px;">I am 27 years old and am getting back
                    into the gym. I would love to have someone that's a bit more experienced than I that can teach me
                    some new exercises to help me achieve my best form.</p>

            </div>
        </div>
        <div class="actions">
            <div class="ui red button">
                Nope
            </div>
            <div class="ui positive right labeled icon button">
                Connect
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>

    <div id="modal_two" class="ui basic modal">
        <i class="close icon"></i>
        <div class="header">
            Sasha Anderson
        </div>
        <div class="image content">
            <div class="ui medium image">
                <img
                    src="https://images.unsplash.com/photo-1563306406-e66174fa3787?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">
            </div>
            <div class="description">
                <div style="color: white;" class="ui header">Someone wants to get connected with you!</div>
                <p style="color: white; font-family: 'Quicksand', sans-serif; font-size: 22px;">I recently just renewed
                    my membership
                    and would love some guidance to help me to remember proper technique. I have a very open schedule so
                    anytime should work! Focusing on definition.</p>

            </div>
        </div>
        <div class="actions">
            <div class="ui red button">
                Nope
            </div>
            <div class="ui positive right labeled icon button">
                Connect
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>

    <div id="modal_three" class="ui basic modal">
        <i class="close icon"></i>
        <div class="header">
            Andrew Mertens
        </div>
        <div class="image content">
            <div class="ui medium image">
                <img
                    src="https://images.unsplash.com/photo-1597871761588-97ebfda1eb5f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">
            </div>
            <div class="description">
                <div style="color: white;" class="ui header">Someone wants to get connected with you!</div>
                <p style="color: white; font-family: 'Quicksand', sans-serif; font-size: 22px;">I have recenetly been
                    focusing more on
                    my upper body strength. Looking for people who want test themselves and set new max weight goals.
                    Chest workouts are going to be my main exercise.</p>

            </div>
        </div>
        <div class="actions">
            <div class="ui red button">
                Nope
            </div>
            <div class="ui positive right labeled icon button">
                Connect
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>

    <div id="modal_four" class="ui basic modal">
        <i class="close icon"></i>
        <div class="header">
            Michelle Foster
        </div>
        <div class="image content">
            <div class="ui medium image">
                <img
                    src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">
            </div>
            <div class="description">
                <div style="color: white;" class="ui header">Someone wants to get connected with you!</div>
                <p style="color: white; font-family: 'Quicksand', sans-serif; font-size: 22px;">I want to find different
                    workouts that
                    will foucs on new muscle groups. I don't have too many ideas, so if anyone would be willing to
                    workout together, I'm more than committed.</p>

            </div>
        </div>
        <div class="actions">
            <div class="ui red button">
                Nope
            </div>
            <div class="ui positive right labeled icon button">
                Connect
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>

    <div id="modal_five" class="ui basic modal">
        <i class="close icon"></i>
        <div class="header">
            John Mango
        </div>
        <div class="image content">
            <div class="ui medium image">
                <img
                    src="https://images.unsplash.com/photo-1519345530437-61a71fd6baf4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">
            </div>
            <div class="description">
                <div style="color: white;" class="ui header">Someone wants to get connected with you!</div>
                <p style="color: white; font-family: 'Quicksand', sans-serif; font-size: 22px;">I have been preparing
                    for a biking
                    tournament in the next month, so I need to build up my cardio. If someone wants to focus on
                    treadmill and bicycle sessions, I'm your guy.</p>

            </div>
        </div>
        <div class="actions">
            <div class="ui red button">
                Nope
            </div>
            <div class="ui positive right labeled icon button">
                Connect
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>




    <!-- MODALS FOR 'MY FRIENDS' LIST -->


    <div id="modal_six" class="ui basic modal">
        <i class="close icon"></i>
        <div class="header">
            Elliot Fu
        </div>
        <div class="image content">
            <div class="ui medium image">
                <img
                    src="https://images.unsplash.com/photo-1581803118522-7b72a50f7e9f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">
            </div>
            <div class="description">
                <p style="color: white; font-family: 'Quicksand', sans-serif; font-size: 22px;">I have been preparing
                    for a biking
                    tournament in the next month, so I need to build up my cardio. If someone wants to focus on
                    treadmill and bicycle sessions, I'm your guy.</p>

            </div>
        </div>
        <div class="actions">
            <button style="background-color: violet; color: black" class="ui positive button">
                Close

            </button>
        </div>
    </div>

    <div id="modal_seven" class="ui basic modal">
        <i class="close icon"></i>
        <div class="header">
            Jessica Harding
        </div>
        <div class="image content">
            <div class="ui medium image">
                <img
                    src="https://images.unsplash.com/photo-1557555187-23d685287bc3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80">
            </div>
            <div class="description">
                <p style="color: white; font-family: 'Quicksand', sans-serif; font-size: 22px;">
                    I have been taking a break from yoga and am now doing a lot of core/leg workouts. Lots of
                    Stairmaster everyday with a few sets of squats. I do eventually need some help when it comes to
                    working out my arms. I know one of my friends can help me in that area!
                </p>

            </div>
        </div>
        <div class="actions">
            <button style="background-color: violet; color: black" class="ui positive button">
                Close

            </button>
        </div>
    </div>

    <div id="modal_eight" class="ui basic modal">
        <i class="close icon"></i>
        <div class="header">
            Jason Mackley
        </div>
        <div class="image content">
            <div class="ui medium image">
                <img
                    src="https://images.unsplash.com/photo-1541577141970-eebc83ebe30e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">
            </div>
            <div class="description">
                <p style="color: white; font-family: 'Quicksand', sans-serif; font-size: 22px;">
                    Upper body strength is where I find myself lifting most. I was able to reach my new max bench! I
                    have been doing a lot of bench press and would love to help anyone that wants to get to my level.
                    Going to make sure to hit legs next.
                </p>

            </div>
        </div>
        <div class="actions">
            <button style="background-color: violet; color: black" class="ui positive button">
                Close

            </button>
        </div>
    </div>

    <div id="modal_nine" class="ui basic modal">
        <i class="close icon"></i>
        <div class="header">
            Emily Banks
        </div>
        <div class="image content">
            <div class="ui medium image">
                <img
                    src="https://images.unsplash.com/photo-1464863979621-258859e62245?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=633&q=80">
            </div>
            <div class="description">
                <p style="color: white; font-family: 'Quicksand', sans-serif; font-size: 22px;">
                    Been doing working on getting much more lean. This week I have been focusing on more arms as I want
                    to get toned. I've been mealing preppin a lot more lately which helps!
                </p>

            </div>
        </div>
        <div class="actions">
            <button style="background-color: violet; color: black" class="ui positive button">
                Close

            </button>
        </div>
    </div>

    <div id="modal_ten" class="ui basic modal">
        <i class="close icon"></i>
        <div class="header">
            Elle Fanning
        </div>
        <div class="image content">
            <div class="ui medium image">
                <img
                    src="https://hips.hearstapps.com/elleuk.cdnds.net/17/37/2048x3071/gallery-1505124145-gettyimages-845038176.jpg?resize=480:*">
            </div>
            <div class="description">
                <p style="color: white; font-family: 'Quicksand', sans-serif; font-size: 22px;">
                    I am working to lose around 10lbs in the next three months. Want to have a good summer body! I would
                    love to know some tips on losing weight if any of my friends can offer help.
                </p>

            </div>
        </div>
        <div class="actions">
            <button style="background-color: violet; color: black" class="ui positive button">
                Close

            </button>
        </div>
    </div>

    <div id="modal_eleven" class="ui basic modal">
        <i class="close icon"></i>
        <div class="header">
            Harsh Varma
        </div>
        <div class="image content">
            <div class="ui medium image">
                <img
                    src="https://images.unsplash.com/photo-1480429370139-e0132c086e2a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">
            </div>
            <div class="description">
                <p style="color: white; font-family: 'Quicksand', sans-serif; font-size: 22px;">
                    Been doing a lot more cardio lately. Just wanting to tackle more of an anaerobic workout so that I
                    have more oxygen flow throughout training. Probably aim to run about 20 miles this week if anyone
                    wants to join.
                </p>

            </div>
        </div>
        <div class="actions">
            <button style="background-color: violet; color: black" class="ui positive button">
                Close

            </button>
        </div>
    </div>


    <!-- END OF MODAL BUTTONS POP UPS  -->





    <h1>Find Others to Connect With</h1>
    <div id="main">
        <div>
            <a href="../index.html"> <button style="background-color: #946f9e;position: absolute; display: block;"
                    class="ui icon button">
                    <i class="big left arrow icon"></i>
                </button>
            </a>
        </div>

        <div>

            <a>
                <button id="inbox" class="ui icon button">
                    <i class="big mail icon"></i>

                </button>
                <img id='number1'
                    style="margin-top: -5px; max-height: 30px; display: block; max-width: 30px; margin-right: 29px; cursor: initial;"
                    src="https://img.pngio.com/download-number-1-png-transparent-icon-11-free-transparent-png-red-circle-1png-600_516.png"
                    alt="">

            </a>

        </div>
    </div>

    <div class="three column stackable ui grid" style="margin: 0 5%;">
        <div class="column">
            <div style="height: 100%" class="ui segment">
                <h2 style="font-family: 'Quicksand', sans-serif;">About Me</h2>
                <div class="ui card">
                    <div class="image">
                        <img src="../stylesheets/images/mike.png">
                    </div>
                    <div style="padding: 5px 5px;" class="content">
                        <a style="font-family: 'Quicksand', sans-serif;" class="header">Mike Taylor</a>

                        <div class="description">
                            <p style="color: black; font-family: 'Quicksand', sans-serif;">Just got a membership and am
                                looking for someone to ease me into the gym.</p>
                            <li>Weight: 150lbs</li>
                            <li>Height: 6'2''</li>
                            <li>Age: 26 years</li>
                            <li>Gym: UIC REC</li>
                            <li>Goals: Strength, Cardio</li>

                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="user icon"></i>
                            6 Friends
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div style="height: 100%;" class="ui segment">
                <h2 style="font-family: 'Quicksand', sans-serif;">My Friends</h2>
                <div class="ui large feed">
                    <div class="event">
                        <div class="label">
                            <img
                                src="https://images.unsplash.com/photo-1581803118522-7b72a50f7e9f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">
                        </div>
                        <div class="content">
                            <div class="summary">
                                <a id="modal_six_link" class="user">Elliot Fu</a>
                            </div>
                            <div class="meta">
                                <a class="like">Schedule a workout</a>
                                <a class="like">View Profile</a>
                                <a class="like">Message</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui large feed">
                    <div class="event">
                        <div class="label">
                            <img
                                src="https://images.unsplash.com/photo-1557555187-23d685287bc3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80">
                        </div>
                        <div class="content">
                            <div class="summary">
                                <a id="modal_seven_link" class="user">Jessica Harding</a>
                            </div>
                            <div class="meta">
                                <a class="like">Schedule a workout</a>
                                <a class="like">View Profile</a>
                                <a class="like">Message</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui large feed">
                    <div class="event">
                        <div class="label">
                            <img
                                src="https://images.unsplash.com/photo-1541577141970-eebc83ebe30e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">
                        </div>
                        <div class="content">
                            <div class="summary">
                                <a id="modal_eight_link" class="user">Jason Mackley</a>
                            </div>
                            <div class="meta">
                                <a class="like">Schedule a workout</a>
                                <a class="like">View Profile</a>
                                <a class="like">Message</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui large feed">
                    <div class="event">
                        <div class="label">
                            <img
                                src="https://images.unsplash.com/photo-1464863979621-258859e62245?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=633&q=80">
                        </div>
                        <div class="content">
                            <div class="summary">
                                <a id="modal_nine_link" class="user">Emily Banks</a>
                            </div>
                            <div class="meta">
                                <a class="like">Schedule a workout</a>
                                <a class="like">View Profile</a>
                                <a class="like">Message</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui large feed">
                    <div class="event">
                        <div class="label">
                            <img
                                src="https://hips.hearstapps.com/elleuk.cdnds.net/17/37/2048x3071/gallery-1505124145-gettyimages-845038176.jpg?resize=480:*">
                        </div>
                        <div class="content">
                            <div class="summary">
                                <a id="modal_ten_link" class="user">Elle Fanning</a>
                            </div>
                            <div class="meta">
                                <a class="like">Schedule a workout</a>
                                <a class="like">View Profile</a>
                                <a class="like">Message</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui large feed">
                    <div class="event">
                        <div class="label">
                            <img
                                src="https://images.unsplash.com/photo-1480429370139-e0132c086e2a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">
                        </div>
                        <div class="content">
                            <div class="summary">
                                <a id="modal_eleven_link" class="user">Harsh Varma</a>
                            </div>
                            <div class="meta">
                                <a class="like">Schedule a workout</a>
                                <a class="like">View Profile</a>
                                <a class="like">Message</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="connections" class="column">
            <div style="height: 100%" class="ui segment">
                <h2 style="font-family: 'Quicksand', sans-serif;">Find New Friends</h2>
                <div class="ui cards">
                    <div class="card">
                        <div class="content">
                            <div class="ui large feed">
                                <div class="event">
                                    <div class="label">
                                        <img
                                            src="https://images.unsplash.com/photo-1563306406-e66174fa3787?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">
                                    </div>
                                    <div class="content">
                                        <div class="summary">
                                            <a id="modal_two_link" class="user">Sasha Anderson, 27</a>
                                        </div>

                                        <div class="description">
                                            Looking for someone to go back to the gym with.
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <button id="toggle" class="ui toggle button"><i class="add icon"></i>Add Friend</button>

                    </div>
                    <div class="card">
                        <div class="content">
                            <div class="ui large feed">
                                <div class="event">
                                    <div class="label">
                                        <img
                                            src="https://images.unsplash.com/photo-1597871761588-97ebfda1eb5f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">
                                    </div>
                                    <div class="content">
                                        <div class="summary">
                                            <a id="modal_three_link" class="user">Andrew Mertens, 24</a>
                                        </div>

                                        <div class="description">
                                            Only looking for those wanting to build up full body strength.
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <button id="toggle" class="ui toggle button"><i class="add icon"></i>Add Friend</button>
                    </div>
                    <div class="card">
                        <div class="content">
                            <div class="ui large feed">
                                <div class="event">
                                    <div class="label">
                                        <img
                                            src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">
                                    </div>
                                    <div class="content">
                                        <div class="summary">
                                            <a id="modal_four_link" class="user">Michelle Foster, 25</a>
                                        </div>

                                        <div class="description">
                                            Looking for someone new to experiment new exercises with.
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <button id="toggle" class="ui toggle button"><i class="add icon"></i>Add Friend</button>
                    </div>

                    <div class="card">
                        <div class="content">
                            <div class="ui large feed">
                                <div class="event">
                                    <div class="label">
                                        <img
                                            src="https://images.unsplash.com/photo-1519345530437-61a71fd6baf4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">
                                    </div>
                                    <div class="content">
                                        <div class="summary">
                                            <a id="modal_five_link" class="user">John Mango, 20</a>
                                        </div>

                                        <div class="description">
                                            Interested in those wanting to cycle/run together and work on cardio.
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <button id="toggle" class="ui toggle button"><i class="add icon"></i>Add Friend</button>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <script type="text/javascript" src="../stylesheets/model.js"></script>
</body>



</html>