<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Swole Boys</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
        integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>



</head>


<body>

    <h1>

        <a href="../index.html"> <button
                style="background-color: #946f9e; margin-left: 1%;position: absolute; width: 5%; height: 7%; display: block;"
                class="ui icon button">
                <i class="big home icon"></i>
            </button></a>
        Find Others to Connect With
    </h1>
    <div class="three column stackable ui grid">
        <div class="column">
            <div style="height: 100%" class="ui segment">
                <h2 style="font-family: 'Quicksand', sans-serif;">About Me</h2>
                <div class="ui card">
                    <div class="image">
                        <img src="../stylesheets/images/mike.png">
                    </div>
                    <div style="padding: 5px 5px;" class="content">
                        <a style="font-family: 'Quicksand', sans-serif;" class="header">Mike Taylor</a>

                        <div class="description">
                            <p style="color: black; font-family: 'Quicksand', sans-serif;">Just got a membership and am looking for someone to ease me into the gym.</p>
                            <li>Weight: 150lbs</li>
                            <li>Height: 6'2''</li>
                            <li>Age: 26 years</li>
                            <li>Gym: UIC REC</li>
                            <li>Goals: Strength, Cardio</li>

                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="user icon"></i>
                            6 Friends
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div style="height: 100%;" class="ui segment">
                <h2 style="font-family: 'Quicksand', sans-serif;">My Friends</h2>
                <div class="ui large feed">
                    <div class="event">
                        <div class="label">
                            <img src="https://images.unsplash.com/photo-1581803118522-7b72a50f7e9f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">
                        </div>
                        <div class="content">
                            <div class="summary">
                                <a class="user">Elliot Fu</a>
                            </div>
                            <div class="meta">
                                <a class="like">Schedule a workout</a>
                                <a class="like">View Profile</a>
                                <a class="like">Message</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui large feed">
                    <div class="event">
                        <div class="label">
                            <img src="https://images.unsplash.com/photo-1557555187-23d685287bc3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80">
                        </div>
                        <div class="content">
                            <div class="summary">
                                <a class="user">Jessica Harding</a>
                            </div>
                            <div class="meta">
                                <a class="like">Schedule a workout</a>
                                <a class="like">View Profile</a>
                                <a class="like">Message</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui large feed">
                    <div class="event">
                        <div class="label">
                            <img src="https://images.unsplash.com/photo-1541577141970-eebc83ebe30e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">
                        </div>
                        <div class="content">
                            <div class="summary">
                                <a class="user">Jason Mackley</a>
                            </div>
                            <div class="meta">
                                <a class="like">Schedule a workout</a>
                                <a class="like">View Profile</a>
                                <a class="like">Message</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui large feed">
                    <div class="event">
                        <div class="label">
                            <img src="https://images.unsplash.com/photo-1464863979621-258859e62245?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=633&q=80">
                        </div>
                        <div class="content">
                            <div class="summary">
                                <a class="user">Emily Banks</a>
                            </div>
                            <div class="meta">
                                <a class="like">Schedule a workout</a>
                                <a class="like">View Profile</a>
                                <a class="like">Message</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui large feed">
                    <div class="event">
                        <div class="label">
                            <img src="https://images.unsplash.com/photo-1582610285985-a42d9193f2fd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">
                        </div>
                        <div class="content">
                            <div class="summary">
                                <a class="user">Elle Fanning</a>
                            </div>
                            <div class="meta">
                                <a class="like">Schedule a workout</a>
                                <a class="like">View Profile</a>
                                <a class="like">Message</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui large feed">
                    <div class="event">
                        <div class="label">
                            <img src="https://images.unsplash.com/photo-1480429370139-e0132c086e2a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">
                        </div>
                        <div class="content">
                            <div class="summary">
                                <a class="user">Harsh Varma</a>
                            </div>
                            <div class="meta">
                                <a class="like">Schedule a workout</a>
                                <a class="like">View Profile</a>
                                <a class="like">Message</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="column">
            <div style="height: 100%;" class="ui segment">
                <h2 style="font-family: 'Quicksand', sans-serif;">Matched Users</h2>

                <div class="ui large feed">
                    <div class="event">
                        <div class="label">
                            <img src="../stylesheets/images/mike.png">
                        </div>
                        <div class="content">
                            <div class="summary">
                                <a class="user">
                                    Elliot Fu
                                </a> added you as a friend
                                <div class="date">
                                    1 Hour Ago
                                </div>
                            </div>
                            <div class="meta">
                                <a class="like">
                                    <i class="like icon"></i> 4 Likes
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../stylesheets/model.js"></script>
</body>



</html>