<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Swole Boys</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
        integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>



</head>

<body>

    <h1>

        <a href="../index.html"> <button
                style="background-color: #946f9e; margin-left: 1%;position: absolute; width: 5%; height: 7%; display: block;"
                class="ui icon button">
                <i class="big home icon"></i>
            </button></a>
        Core

    </h1>
    <div class="ui grid">
        <div class="four wide column">
            <div class="ui vertical fluid tabular menu">
                <a class="item active" data-tab="tab-name1">
                    Plank
                </a>
                <a class="item" data-tab="tab-name2">
                    Mountain Climber
                </a>
                <a class="item" data-tab="tab-name3">
                    Russian Twist
                </a>
                <a class="item" data-tab="tab-name4">
                    Dead Bug
                </a>
                <a class="item" data-tab="tab-name5">
                    Leg Raise
                </a>
                <a class="item" data-tab="tab-name6">
                    Flutter Kicks
                </a>
            </div>
        </div>
        <div class="twelve wide stretched column">
            <div class="ui segment">
                <div class="ui tab" data-tab="tab-name1">
                    <p><b>Description: </b> isometric core strength exercise that involves maintaining a position
                        similar to a push-up for the maximum possible time. </p>
                    <b>Instructions</b>
                    <ol>
                        <li>Plant hands directly under shoulders (slightly wider than shoulder width) like you’re about
                            to do a push-up.</li>
                        <li>Ground toes into the floor and squeeze glutes to stabilize your body. Your legs should be
                            working, too — be careful not to lock or hyperextend your knees</li>
                        <li>Neutralize your neck and spine by looking at a spot on the floor about a foot beyond your
                            hands. Your head should be in line with your back</li>
                        <li>Hold your plank for as long as possible without compromising your form or breath</li>
                    </ol>

                    <embed src="https://www.youtube.com/embed/pSHjTRCQxIw" allowfullscreen="true" width="425"
                        height="344">

                </div>
                <div class="ui tab" data-tab="tab-name2">
                    <p><b>Description: </b> This plyometric plank movement does it all: increases core strength, defines
                        the shoulders, chest and upper back, works the quads and glutes -- all while raising the heart
                        rate. </p>
                    <b>Instructions</b>
                    <ol>
                        <li>Put both hands and knees on the floor</li>
                        <li>Place your right foot near your right hand and extend your left leg behind you</li>
                        <li>In one smooth motion, switch your legs, keeping your arms in the same position</li>
                        <li>Switch your legs back and forth twice, such that your right leg is again close to your right
                            hand</li>
                    </ol>

                    <embed src="https://www.youtube.com/embed/nmwgirgXLYM" allowfullscreen="true" width="425"
                        height="344">

                </div>
                <div class="ui tab" data-tab="tab-name3">
                    <p><b>Description: </b> The exercise involves rotating your torso from side to side while holding a
                        sit-up position with your feet off the ground. </p>
                    <b>Instructions</b>
                    <ol>
                        <li>Sit with bent knees and your feet pressing firmly into the floor, holding a dumbbell in each
                            hand next to your chest</li>
                        <li>Sit back slightly, keeping your spine straight</li>
                        <li>Exhale as you twist to the left, punching your right arm over to the left side</li>
                        <li>Inhale back to center, and then do the opposite side</li>
                        <li>This is 1 repetition</li>
                    </ol>

                    <embed src="https://www.youtube.com/embed/wkD8rjkodUI" allowfullscreen="true" width="425"
                        height="344">

                </div>
                <div class="ui tab" data-tab="tab-name4">
                    <p><b>Description: </b>Safe and effective way to strengthen and stabilize your core, spine, and back
                        muscles. This improves your posture and helps relieve and prevent low back pain.</p>
                    <b>Instructions</b>
                    <ol>
                        <li>Allow your shoulders and lower back to fall heavy to the floor</li>
                        <li>Draw your shoulders down away from your ears. To get into the starting position, lift your
                            hands so your elbows are above your shoulders with your fists facing in toward each other
                        </li>
                        <li>Lift your legs so your knees are directly over your hips</li>
                        <li>On an exhale, slowly lower your right arm and left leg until they’re just above the floor
                        </li>
                        <li>On an inhale, bring them back to the starting position</li>
                        <li>Repeat on the opposite side.</li>
                        <li>This is 1 rep</li>
                    </ol>

                    <embed src="https://www.youtube.com/embed/4XLEnwUr1d8" allowfullscreen="true" width="425"
                        height="344">

                </div>
                <div class="ui tab" data-tab="tab-name5">
                    <p><b>Description: </b> Build your core while lying down and lifting your legs. </p>
                    <b>Instructions</b>
                    <ol>
                        <li>Lie on your back, legs straight and together</li>
                        <li>Keep your legs straight and lift them all the way up to the ceiling until your butt comes
                            off the floor</li>
                        <li>Slowly lower your legs back down till they’re just above the floor. Hold for a moment</li>
                        <li>Raise your legs back up. Repeat</li>


                    </ol>

                    <embed src="https://www.youtube.com/embed/JB2oyawG9KI" allowfullscreen="true" width="425"
                        height="344">

                </div>
                <div class="ui tab" data-tab="tab-name6">
                    <p><b>Description: </b> Exercise that specifically targets the lower abdominal wall.</p>
                    <b>Instructions</b>
                    <ol>
                        <li>Lie on your back and extend your legs up to a 45-degree angle. Keep your arms straight and
                            in line with the floor, palms facing down. Lift your head, neck and shoulders slightly off
                            the ground</li>
                        <li>Keeping your legs stick straight and glued together with your toes pointed, start lowering
                            one leg.</li>
                        <li>Raise your lowered leg and lower the other, focusing on keeping your core engaged</li>
                        <li>Continue the movement, alternating between legs</li>


                    </ol>

                    <embed src="https://www.youtube.com/embed/ANVdMDaYRts" allowfullscreen="true" width="425"
                        height="344">

                </div>
            </div>

        </div>
    </div>





    <script type="text/javascript" src="../stylesheets/model.js"></script>

</body>

</html>