<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Swole Boys</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
        integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>



</head>

<body>

    <!-- <div class="ui tabular menu">
        <div class="item" data-tab="tab-name">
            Leg Press
        </div>
        <div class="item" data-tab="tab-name2">
            Squats
        </div>
    </div> -->

    <div class="ui grid">
        <div class="four wide column">
            <div class="ui vertical fluid tabular menu">
                <a class="item active" data-tab="tab-name1">
                    Bench Press
                </a>
                <a class="item" data-tab="tab-name2">
                    Cable Flys
                </a>
                <a class="item" data-tab="tab-name3">
                    Dumbbell Press
                </a>
                <a class="item" data-tab="tab-name4">
                    Low-incline Barbell Bench Press
                </a>
                <a class="item" data-tab="tab-name5">
                    Seated Machine Chest Press
                </a>
                <a class="item" data-tab="tab-name6">
                    Pec-Deck Machine
                </a>
            </div>
        </div>
        <div class="twelve wide stretched column">
            <div class="ui segment">
                <div class="ui tab" data-tab="tab-name1">
                    <p><b>Description: </b> The bench press builds the muscles of the chest as well as the triceps of
                        the back of the arms and the front deltoid shoulder muscles. </p>
                    <b>Instructions</b>
                    <ol>
                        <li>Lie on the bench under the rack that holds the bar. Your eyes should be approximately
                            aligned with the front of the barbell rack uprights. Butt, shoulders, and head should be
                            flat on the bench with a slight (neutral) bend in the spine. </li>
                        <li>Grasp the bar with your thumbs on the outside of your closed fist, overhand grip, with arms
                            slightly wider than shoulder-width apart. The angle of the upper arms should be at about 45
                            degrees to the body.</li>
                    </ol>

                    <embed src="https://www.youtube.com/embed/vthMCtgVtFw" allowfullscreen="true" width="425"
                        height="344">

                </div>
                <div class="ui tab" data-tab="tab-name2">
                    <p><b>Description: </b> Cable flys are extemely verstaile and allow you to expand the width of your chest. Able to perform straight, incline, and decline flys that work all around the pectoral area. </p>
                    <b>Instructions</b>
                    <ol>
                        <li>Stand between two high pulley cables with stirrup attachments. </li>
                        <li>Hold left handle in left hand and right handle in right hand with an overhand grip (palms
                            facing down). Stand upright in a staggered stance with arms outstretched but slightly bent
                            so that knuckles are facing forward.. This is the starting position.</li>
                        <li>Begin exercise by pushing cables forward and together so that your wrists cross when arms are fully extended. Pause, then slowly reverse movement back to starting position. This completes one rep.</li>
                    </ol>

                    <embed src="https://www.youtube.com/embed/1SoJVttMI1w" allowfullscreen="true" width="425"
                        height="344">

                </div>
                <div class="ui tab" data-tab="tab-name3">
                    <p><b>Description: </b> The dumbbell press activates the chest and shoulders and helps to strengthen your form much more due to the individual grip for each dumbbell. </p>
                    <b>Instructions</b>
                    <ol>
                        <li>Lie back on a bench holding a dumbbell in each hand just to the sides of your shoulders. Your palms should be facing towards your feet in the starting position, although if you have shoulder issues then switch to a neutral grip, where the palms face each other. </li>
                        <li>Press the weights above your chest by extending your elbows until your arms are straight, then bring the weights back down slowly. To take advantage of the range of movement offered by using dumbbells rather than a barbell, take the weights down past your shoulders and bring them closer together at the top of the movement.</li>
                    </ol>

                    <embed src="https://www.youtube.com/embed/SHsUIZiNdeY" allowfullscreen="true" width="425"
                        height="344">

                </div>
                <div class="ui tab" data-tab="tab-name4">
                    <p><b>Description: </b> The bench press builds the muscles of the chest as well as the triceps of
                        the back of the arms and the front deltoid shoulder muscles. </p>
                    <b>Instructions</b>
                    <ol>
                        <li>Lie on the bench under the rack that holds the bar. Your eyes should be approximately
                            aligned with the front of the barbell rack uprights. Butt, shoulders, and head should be
                            flat on the bench with a slight (neutral) bend in the spine. </li>
                        <li>Grasp the bar with your thumbs on the outside of your closed fist, overhand grip, with arms
                            slightly wider than shoulder-width apart. The angle of the upper arms should be at about 45
                            degrees to the body.</li>
                    </ol>

                    <embed src="https://www.youtube.com/embed/vthMCtgVtFw" allowfullscreen="true" width="425"
                        height="344">

                </div>
                <div class="ui tab" data-tab="tab-name5">
                    <p><b>Description: </b> The bench press builds the muscles of the chest as well as the triceps of
                        the back of the arms and the front deltoid shoulder muscles. </p>
                    <b>Instructions</b>
                    <ol>
                        <li>Lie on the bench under the rack that holds the bar. Your eyes should be approximately
                            aligned with the front of the barbell rack uprights. Butt, shoulders, and head should be
                            flat on the bench with a slight (neutral) bend in the spine. </li>
                        <li>Grasp the bar with your thumbs on the outside of your closed fist, overhand grip, with arms
                            slightly wider than shoulder-width apart. The angle of the upper arms should be at about 45
                            degrees to the body.</li>
                    </ol>

                    <embed src="https://www.youtube.com/embed/vthMCtgVtFw" allowfullscreen="true" width="425"
                        height="344">

                </div>
                <div class="ui tab" data-tab="tab-name6">
                    <p><b>Description: </b> The bench press builds the muscles of the chest as well as the triceps of
                        the back of the arms and the front deltoid shoulder muscles. </p>
                    <b>Instructions</b>
                    <ol>
                        <li>Lie on the bench under the rack that holds the bar. Your eyes should be approximately
                            aligned with the front of the barbell rack uprights. Butt, shoulders, and head should be
                            flat on the bench with a slight (neutral) bend in the spine. </li>
                        <li>Grasp the bar with your thumbs on the outside of your closed fist, overhand grip, with arms
                            slightly wider than shoulder-width apart. The angle of the upper arms should be at about 45
                            degrees to the body.</li>
                    </ol>

                    <embed src="https://www.youtube.com/embed/vthMCtgVtFw" allowfullscreen="true" width="425"
                        height="344">

                </div>
            </div>

        </div>
    </div>





    <script type="text/javascript" src="../stylesheets/model.js"></script>

</body>

</html>