<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Swole Boys</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
        integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>



</head>

<body>
    <div class="ui two column centered grid">

        <div class="ui tabular menu">
            <div class="item" data-tab="tab-name">
                Leg Press
            </div>
            <div class="item" data-tab="tab-name2">
                Squats
            </div>
        </div>

        <div class="ui tab" data-tab="tab-name">
            <p>Description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam distinctio soluta aliquid ullam officiis aut, voluptatem ipsa, non neque maxime quasi similique eligendi, nostrum culpa incidunt id eos? Impedit, in? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ratione magni explicabo
                praesentium labore odit, voluptatibus eveniet laboriosam quaerat atque dolorum adipisci.</p>
            <a href="www.google.com">instructions</a>
            <img src="../stylesheets/images/goal.jpg" alt="goal img">
        </div>
        <div class="ui tab" data-tab="tab-name2">
            <p>Description: Lorem ipsum dolor sit amet consectetur,  dolor sit amet consectetur,  dolor sit amet consectetur,  dolor sit amet consectetur, adipisicing elit. Laborum natus ea nobis, explicabo
                mollitia eaque ducimus minus vitae ex repellat hic quidem.</p>
            <a href="www.google.com">instructions</a>

        </div>

    </div>

    <script type="text/javascript" src="../stylesheets/model.js"></script>

</body>

</html>