<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Swole Boys</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
        integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>



</head>


<body>
    <h1>

        <a href="../index.html"> <button
                style="background-color: #946f9e; margin-left: 1%;position: absolute; width: 5%; height: 7%; display: block;"
                class="ui icon button">
                <i class="big home icon"></i>
            </button></a>
        Select a Muscle Group

    </h1>
    <div class="ui three column center aligned grid">
        <div class="row">
            <div class="column">
                <div class="cols">
                    <a href="../views/chest.html">
                        <img style="border: 2px solid black;" class="ui circular image"
                            src="../stylesheets/images/chest.png">
                    </a>
                    <h3>Chest</h3>
                </div>
            </div>
            <div class="column">
                <div class="cols">
                    <a href="../views/core.html">
                        <img style="border: 2px solid black;" class="ui circular image"
                            src="../stylesheets/images/abs.png">
                    </a>
                    <h3>Core</h3>
                </div>
            </div>

            <div class="column">
                <div class="cols">
                    <a href="../views/back.html">
                        <img style="border: 2px solid black;" class="ui circular image"
                            src="../stylesheets/images/back.png">
                    </a>
                    <h3>Back</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="cols">
                    <a href="../views/arms.html">
                        <img style="border: 2px solid black;" class="ui circular image"
                            src="../stylesheets/images/arms.png">
                    </a>
                    <h3>Arms</h3>
                </div>
            </div>
            <div class="column">
                <div class="cols">
                    <a href="../views/cardio.html">
                        <img style="border: 2px solid black;" class="ui circular image"
                            src="../stylesheets/images/cardio.png">
                    </a>
                    <h3>Cardio</h3>
                </div>

            </div>

            <div class="column">
                <div class="cols">
                    <a href="../views/legs.html">
                        <img style="border: 2px solid black;" class="ui circular image"
                            src="../stylesheets/images/legs.png">
                    </a>
                    <h3>Legs</h3>
                </div>

            </div>
        </div>


    </div>


    <script>
        document.querySelectorAll('.cols').forEach(el => {
            // el.addEventListener('mousemove', handleMove);
            el.addEventListener('mouseover', function () {
                el.style.transform = 'perspective(500px) scale(1.1) ';
            })
            console.log(el);
            /* Add listener for mouseout event, remove the rotation */
            el.addEventListener('mouseout', function () {
                el.style.transform = 'perspective(500px) scale(1)'
            })

            /* Add listener for mousedown event, to simulate click */
            el.addEventListener('mousedown', function () {
                el.style.transform = 'perspective(500px) scale(0.9)'
            })

            /* Add listener for mouseup, simulate release of mouse click */
            el.addEventListener('mouseup', function () {
                el.style.transform = 'perspective(500px) scale(1.1)'
            })
        });
    </script>
</body>

</html>