<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Swole Boys</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
    integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>



</head>

<body>
  <h1>

    <a href="../views/exercise1.html"> <button
        style="background-color: #946f9e; margin-left: 1%;position: absolute;  height: 7%; display: block;"
        class="ui icon button">
        <i class="big left arrow icon"></i>
      </button></a>
    Legs

  </h1>

  <div class="ui stackable grid">
    <div class="four wide column">
      <div class="ui vertical fluid tabular menu">
        <a class="item" data-tab="tab-name1">
          Low-bar Back Squat
        </a>
        <a class="item" data-tab="tab-name2">
          Box Jumps
        </a>
        <a class="item" data-tab="tab-name3">
          Walking Lunge
        </a>
        <a class="item" data-tab="tab-name4">
          Bulgarian Split Squat
        </a>
        <a class="item" data-tab="tab-name5">
          Deadlift
        </a>
        <a class="item" data-tab="tab-name6">
          Seated Leg Press
        </a>
      </div>
    </div>
    <div class="twelve wide stretched column">
      <div class="ui segment">
        <div id="placeholder">
          <h1>Click on a specific workout on the left to be able to view information on it.</h1>
        </div>
        <div class="ui tab" data-tab="tab-name1">
          <p><b>Description: </b> One of the most involved exercises, squats target most back muscles, including the
            quads, glutes, and hamstrings.</p>
          <b>Instructions</b>
          <ol>
            <li>Make sure that the barbell is at a comfortable height. It should be situated such that the
              bar is able to be lifted off the ground without standing on toes. </li>
            <li>Grasp the bar with your thumbs on the outside of your closed fist, overhand grip, with the
              bar splayed evenly across the back. Set you hands in a position that is comfortable to you.</li>
            <li>Get underneath the bar, tighten your lats, and pull the bar into the back.</li>
            <li>Set feet about shoulder-width apart, lift the barbell off the rack, and take
              a few steps back.</li>
            <li>While lowering into the squat, bend your knees and hips and flex your core
              muscles. Keep your back straight and chin up. The knees should be about above
              the toes and the thighs should be about parallel with the ground.</li>
            <li>Drive back upwards making sure to keep the chin upright and the back
              straight. Push off of the balls of the feet, push the hips forward and
              straighten the hips. Knees should follow the hips and straighten as well,
              but do not lock the knees at the top of the rep.</li>
          </ol>

          <embed src="https://www.youtube.com/embed/bbNA17KjBzU" allowfullscreen="true" width="425" height="344">

        </div>
        <div class="ui tab" data-tab="tab-name2">
          <p><b>Description: </b> An explosive exercise which can help increase jump height. It works out most leg
            muscles
            including the calves. </p>
          <b>Instructions</b>
          <ol>
            <li>Stand with the box close in front and with feet shoulder-width apart. </li>
            <li>Slightly bend the knees and drop into a slight squat form, while extending your arms behind you.</li>
            <li>Use the slight squat form to explode upward into a jump and land on top of the box while swinging the
              the arms in front of you.</li>
            <li>Step down gently from the box to the ground.</li>
          </ol>

          <embed src="https://www.youtube.com/embed/hxldG9FX4j4" allowfullscreen="true" width="425" height="344">

        </div>
        <div class="ui tab" data-tab="tab-name3">
          <p><b>Description: </b> A variation of the static lunge, the lunge is a safe leg workout that works similar
            muscles to the squat. It has more emphasis on balance and coordination. </p>
          <b>Instructions</b>
          <ol>
            <li>Grasp two dumbbells in both hands. Stand with feet shoulder width apart. </li>
            <li> Make sure to keep upper body upright. Step forward with the right foot and lower such that thighs are
              parallel with the ground.</li>
            <li>Push off of right foot back into standing position and repeat procedure for left leg.</li>
            <li>Alternate legs between each step.</li>
          </ol>

          <embed src="https://www.youtube.com/embed/qLyj6xo3j5c" allowfullscreen="true" width="425" height="344">

        </div>
        <div class="ui tab" data-tab="tab-name4">
          <p><b>Description: </b>Bulgarian split squats are similar to a single-leg squat with one exception, the back
            leg is elevated onto a bench or chair. It focuses more on the quadriceps and requires a lot of balance.</p>
          <b>Instructions</b>
          <ol>
            <li>Stand with back facing a bench or chair and place your right foot onto the bench.</li>
            <li>Keep chin up and back straight while going through motion. Gently bend front leg's knee till thigh is
              parallel with the ground. Back leg should follow motion. </li>
            <li>At the bottom of the stance, push up off of the front foot and return to standing position. Make sure to
              not lock knees.</li>
            <li>Repeat with other leg. Add weights if desired.</li>
          </ol>

          <embed src="https://www.youtube.com/embed/HBYGeyb4sSM" allowfullscreen="true" width="425" height="344">

        </div>
        <div class="ui tab" data-tab="tab-name5">
          <p><b>Description: </b> The deadlift is generally one of the heaviest exercises a person can do. It involves
            many of the muscles of the body, but it primarily focuses on the leg muscles. </p>
          <b>Instructions</b>
          <ol>
            <li>Position barbell on the ground in front of you, add weights as desired, and stand with legs
              shoulder-width apart. Bar should be close to the shins, but not touching.</li>
            <li>Grip the bar over-handed or with one hand over-hand and with one hand under-hand.</li>
            <li>Squat legs and bend the knees into your straightened arms.</li>
            <li>Push off the ground to lift weight, keeping your back flat and chest up.</li>
            <li>Push hips forward and pull the barbell up along the shins to a full-body extension.</li>
            <li>Bring barbell back down to the ground, bending the knees, keeping the chest out and back straight.</li>
          </ol>

          <embed src="https://www.youtube.com/embed/wYREQkVtvEc" allowfullscreen="true" width="425" height="344">

        </div>
        <div class="ui tab" data-tab="tab-name6">
          <p><b>Description: </b> A good exercise for people with weak or injured knees. Involves using the appropriate
            exercise machine. </p>
          <b>Instructions</b>
          <ol>
            <li>Set up machine to desired weight and adjust seat to a position such that legs are in a near-ninety
              degree orientation when placed on foot plate.</li>
            <li>Make sure lower back maintains arch through press and do NOT lock legs at top of press. Push out legs
              into the leg plate lifting the weights, squeezing glutes and extending hips.</li>
            <li> Bring legs back to a rested position. </li>
          </ol>

          <embed src="https://www.youtube.com/embed/IZxyjW7MPJQ" allowfullscreen="true" width="425" height="344">

        </div>
      </div>

    </div>
  </div>





  <script type="text/javascript" src="../stylesheets/model.js"></script>

</body>

</html>