<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Swole Boys</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
        integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- 
    <script type="text/javascript">
        google.charts.load('current', { packages: ['corechart', 'line'] });
        google.charts.setOnLoadCallback(drawCurveTypes);

        function drawCurveTypes() {
            var data = new google.visualization.DataTable();
            data.addColumn('number', 'X');
            data.addColumn('number', 'Dogs');
            data.addColumn('number', 'Cats');

            data.addRows([
                [0, 0, 0], [1, 10, 5], [2, 23, 15], [3, 17, 9], [4, 18, 10], [5, 9, 5],

            ]);

            var options = {
                hAxis: {
                    title: 'Time'
                },
                vAxis: {
                    title: 'Popularity'
                },
                series: {
                    1: { curveType: 'function' }
                }
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script> -->

</head>


<body>

    <h1>

        <a href="../index.html"> <button
                style="background-color: #946f9e; margin-left: 1%;position: absolute; height: 7%; display: block;"
                class="ui icon button">
                <i class="big left arrow icon"></i>
            </button></a>
        Progress Report
    </h1>
    <div class="ui center aligned equal width stackable grid">

        <div class="ui three buttons" style="width: 75%;height: 4rem;">
            <button class="ui active button" id="StrBt">Strength</button>
            <button class="ui button" id="WghtBt">Weight</button>
            <button class="ui button" id="EndBt">Endurance</button>
        </div>

        <div class="twelve wide column">
            <div class="ui segment">


                <div class="" id="StrSec">
                    <div class="column">
                        <div class="ui vertical fluid menu">

                            <div style="margin-top: 10px;" class="ui buttons">

                                <button class="ui inverted blue button" onclick="drawCurveTypes()">Bench</button>
                                <button class="ui inverted red button" onclick="drawCurveTypes2()">Deadlift</button>
                                <button class="ui inverted yellow button" onclick="drawCurveTypes3()">Overhead</button>
                                <button class="ui inverted green button" onclick="drawCurveTypes4()">Squat</button>
                            </div>

                            <div id="chart_div" style="width: 100%; height: 500px;"></div>

                        </div>
                    </div>
                </div>

                <div class="" id="WghtSec" style="display: none;">
                    <div class="column">
                        <div class="ui vertical fluid menu">

                            <div style="margin-top: 10px;" class="ui buttons">

                                <button class="ui inverted purple button" onclick="drawChart()">1-Week</button>
                                <button class="ui inverted purple button" onclick="drawChart2()">5-Week</button>
                                <button class="ui inverted purple button" onclick="drawChart3()">5-Month</button>
                            </div>



                            <div id="chart_div2" style="width: 100%; height: 500px;"></div>
                        </div>
                    </div>
                </div>


                <div class="" id="EndSec" style="display: none;">
                    <div class="column">
                        <div class="ui vertical fluid menu">

                            <div style="margin-top: 10px;" class="ui buttons">

                                <button class="ui inverted purple button" onclick="drawChart4()">1-Week</button>
                                <button class="ui inverted purple button" onclick="drawChart5()">5-Week</button>
                                <button class="ui inverted purple button" onclick="drawChart6()">5-Month</button>

                            </div>



                            <div id="barchart_material" style="width: 100%; height: 500px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script type="text/javascript" src="../stylesheets/model.js"></script>
    <script>
        let strSec = document.getElementById("StrSec");
        let wghtSec = document.getElementById("WghtSec");
        let endSec = document.getElementById("EndSec");
        let activeSec = strSec;
        let activeBt = "StrBt";

        document.getElementById("StrBt").addEventListener("click",function(){
            if(activeBt != this.id){
                strSec.style.display = "block";
                activeSec.style.display = "none";

                this.classList.add("active");
                document.getElementById(activeBt).classList.remove("active");
                activeSec = strSec;
                activeBt = this.id;
            }
            
        });

        document.getElementById("WghtBt").addEventListener("click",function(){
            if(activeBt != this.id){
                wghtSec.style.display = "block";
                activeSec.style.display = "none";

                this.classList.add("active");
                document.getElementById(activeBt).classList.remove("active");
                activeSec = wghtSec;
                activeBt = this.id;
            }
            
        });

        document.getElementById("EndBt").addEventListener("click",function(){
            if(activeBt != this.id){
                endSec.style.display = "block";
                activeSec.style.display = "none";

                this.classList.add("active");
                document.getElementById(activeBt).classList.remove("active");
                activeSec = endSec;
                activeBt = this.id;
            }
            
        });



    </script>
</body>



</html>