<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Swole Boys</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
        integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- 
    <script type="text/javascript">
        google.charts.load('current', { packages: ['corechart', 'line'] });
        google.charts.setOnLoadCallback(drawCurveTypes);

        function drawCurveTypes() {
            var data = new google.visualization.DataTable();
            data.addColumn('number', 'X');
            data.addColumn('number', 'Dogs');
            data.addColumn('number', 'Cats');

            data.addRows([
                [0, 0, 0], [1, 10, 5], [2, 23, 15], [3, 17, 9], [4, 18, 10], [5, 9, 5],

            ]);

            var options = {
                hAxis: {
                    title: 'Time'
                },
                vAxis: {
                    title: 'Popularity'
                },
                series: {
                    1: { curveType: 'function' }
                }
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script> -->

</head>


<body>
    <div style="justify-content: space-evenly;" id="navbar" class="ui secondary pointing menu">
        <a href="/index.html" class="item">
            Home
        </a>
        <a href="./exercise1.html" class="item">
            Exercises
        </a>
        <a href="./goal.html" class="item">
            Goals
        </a>
        <a href="./tip.html" class="item">
            Tips
        </a>
        <a href="./progress.html" class="item active">
            Progress Report
        </a>
        <a href="./connect.html" class="item">
            Connect with Friends
        </a>

    </div>
    <h1>

        <a href="../index.html"> <button
                style="background-color: #946f9e; margin-left: 1%;position: absolute; height: 7%; display: block;"
                class="ui icon button">
                <i class="big left arrow icon"></i>
            </button></a>
        Progress Report
    </h1>
    <div class="ui center aligned equal width stackable grid">

        <div class="ui three buttons" style="width: 75%;height: 4rem;">
            <button class="ui active button" id="StrBt">Strength</button>
            <button class="ui button" id="WghtBt">Weight</button>
            <button class="ui button" id="EndBt">Endurance</button>
        </div>

        <div class="twelve wide column">
            <div class="ui segment">


                <div class="" id="StrSec">
                    <div class="column">
                        <div class="ui vertical fluid menu">

                            <div style="margin-top: 10px;" class="ui buttons">

                                <button class="ui inverted blue button" onclick="drawGraph(benchData, 'Bench','blue')"
                                    id="BenchBt">Bench</button>
                                <button class="ui inverted blue button" id="BenchLogBt"><i
                                        class="chart area icon"></i></button>
                                <button class="ui inverted red button lift"
                                    onclick="drawGraph(deadliftData,'Deadlift', 'red')">Deadlift</button>
                                <button class="ui inverted red button" id="DeadliftLogBt"><i
                                        class="chart area icon"></i></button>
                                <button class="ui inverted yellow button lift"
                                    onclick="drawGraph(overheadData,'Overhead', 'orange')">Overhead</button>
                                <button class="ui inverted yellow button" id="OverheadLogBt"><i
                                        class="chart area icon"></i></button>
                                <button class="ui inverted green button lift"
                                    onclick="drawGraph(squatData,'Squat', 'green')">Squat</button>
                                <button class="ui inverted green button" id="SquatLogBt"><i
                                        class="chart area icon"></i></button>
                            </div>

                            <div id="chart_div" style="width: 100%; height: 500px;"></div>

                        </div>
                    </div>
                </div>

                <div class="" id="WghtSec" style="display: none;">
                    <div class="column">
                        <div class="ui vertical fluid menu">

                            <div style="margin-top: 10px;" class="ui buttons">

                                <button class="ui inverted purple button" onclick="drawChart()"
                                    id="WghtWeek">1-Week</button>
                                <button class="ui inverted purple button" onclick="drawChart2()">5-Week</button>
                                <button class="ui inverted purple button" onclick="drawChart3()">5-Month</button>
                            </div>



                            <div id="chart_div2" style="width: 100%; height: 500px;"></div>
                        </div>
                    </div>
                </div>


                <div class="" id="EndSec" style="display: none;">
                    <div class="column">
                        <div class="ui vertical fluid menu">

                            <div style="margin-top: 10px;" class="ui buttons">

                                <button class="ui inverted purple button" onclick="drawChart4()"
                                    id="EndWeek">1-Week</button>
                                <button class="ui inverted purple button ends" onclick="drawChart5()">5-Week</button>
                                <button class="ui inverted purple button ends" onclick="drawChart6()">5-Month</button>

                            </div>



                            <div id="barchart_material" style="width: 100%; height: 500px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui modal bench">
            <div class="header">Bench Input</div>
            <form class="ui form">
                <div class="field">
                    <div class="ui labeled input">
                        <div class="ui label">
                            Weight
                        </div>
                        <input type="text" id="BenchInW">
                    </div>
                </div>
                <div class="field">
                    <div class="ui labeled input">
                        <div class="ui label">
                            Reps
                        </div>
                        <input type="text" id="BenchInR">
                    </div>
                </div>

            </form>
            <div class="actions">
                <div class="ui positive left button" style="display: block;" id="BenchLogAddBt">
                    Add
                </div>
            </div>
        </div>

        <div class="ui modal deadlift">
            <div class="header">Deadlift Input</div>
            <form class="ui form">
                <div class="field">
                    <div class="ui labeled input">
                        <div class="ui label">
                            Weight
                        </div>
                        <input type="text" id="DeadliftInW">
                    </div>
                </div>
                <div class="field">
                    <div class="ui labeled input">
                        <div class="ui label">
                            Reps
                        </div>
                        <input type="text" id="DeadliftInR">
                    </div>
                </div>

            </form>
            <div class="actions">
                <div class="ui positive left button" style="display: block;" id="DeadliftLogAddBt">
                    Add
                </div>
            </div>
        </div>

        <div class="ui modal overhead">
            <div class="header">Overhead Input</div>
            <form class="ui form">
                <div class="field">
                    <div class="ui labeled input">
                        <div class="ui label">
                            Weight
                        </div>
                        <input type="text" id="OverheadInW">
                    </div>
                </div>
                <div class="field">
                    <div class="ui labeled input">
                        <div class="ui label">
                            Reps
                        </div>
                        <input type="text" id="OverheadInR">
                    </div>
                </div>

            </form>
            <div class="actions">
                <div class="ui positive left button" style="display: block;" id="OverheadLogAddBt">
                    Add
                </div>
            </div>
        </div>

        <div class="ui modal squat">
            <div class="header">Squat Input</div>
            <form class="ui form">
                <div class="field">
                    <div class="ui labeled input">
                        <div class="ui label">
                            Weight
                        </div>
                        <input type="text" id="SquatInW">
                    </div>
                </div>
                <div class="field">
                    <div class="ui labeled input">
                        <div class="ui label">
                            Reps
                        </div>
                        <input type="text" id="SquatInR">
                    </div>
                </div>

            </form>
            <div class="actions">
                <div class="ui positive left button" style="display: block;" id="SquatLogAddBt">
                    Add
                </div>
            </div>
        </div>

    </div>

    <script type="text/javascript" src="../stylesheets/model.js"></script>
    <script>
        let strSec = document.getElementById("StrSec");
        let wghtSec = document.getElementById("WghtSec");
        let endSec = document.getElementById("EndSec");
        let activeSec = strSec;
        let activeBt = "StrBt";
        let endWeek = document.getElementById("EndWeek");
        let wghtWeek = document.getElementById("WghtWeek");

        document.getElementById("StrBt").addEventListener("click", function () {
            if (activeBt != this.id) {
                strSec.style.display = "block";
                activeSec.style.display = "none";

                this.classList.add("active");
                document.getElementById(activeBt).classList.remove("active");
                activeSec = strSec;
                activeBt = this.id;

            }

        });

        document.getElementById("WghtBt").addEventListener("click", function () {
            if (activeBt != this.id) {
                wghtSec.style.display = "block";
                activeSec.style.display = "none";

                this.classList.add("active");
                document.getElementById(activeBt).classList.remove("active");
                activeSec = wghtSec;
                activeBt = this.id;

                wghtWeek.click()
            }

        });

        document.getElementById("EndBt").addEventListener("click", function () {
            if (activeBt != this.id) {
                endSec.style.display = "block";
                activeSec.style.display = "none";

                this.classList.add("active");
                document.getElementById(activeBt).classList.remove("active");
                activeSec = endSec;
                activeBt = this.id;

                endWeek.click();
            }
        });

        let benchData = [
            [new Date('2021-03-15'), 145],
            [new Date('2021-03-22'), 155],
            [new Date('2021-03-29'), 165],
            [new Date('2021-04-05'), 160],
            [new Date('2021-04-12'), 175],
            [new Date('2021-04-19'), 180],
        ]

        let deadliftData = [
            [new Date('2021-03-16'), 295],
            [new Date('2021-03-23'), 300],
            [new Date('2021-03-30'), 300],
            [new Date('2021-04-06'), 305],
            [new Date('2021-04-13'), 310],
            [new Date('2021-04-20'), 315],
        ]

        let overheadData = [
            [new Date('2021-03-18'), 115],
            [new Date('2021-03-25'), 120],
            [new Date('2021-04-02'), 123],
            [new Date('2021-04-08'), 125],
            [new Date('2021-04-15'), 135],
            [new Date('2021-04-22'), 135],
        ]

        let squatData = [
            [new Date('2021-03-19'), 280],
            [new Date('2021-03-26'), 285],
            [new Date('2021-04-03'), 290],
            [new Date('2021-04-09'), 295],
            [new Date('2021-04-16'), 295],
            [new Date('2021-04-24'), 300],
        ]

        function drawGraph(rowData, type, lineColor) {
            var data = new google.visualization.DataTable();


            data.addColumn('date', 'X');
            data.addColumn('number', type);


            data.addRows(rowData);

            var options = {
                title: type,
                hAxis: {
                    title: 'Date',
                    format: 'M/d/yy',
                },
                vAxis: {
                    title: '1 Rep Max (lbs)'
                },
                series: {
                    1: {
                        curveType: 'function'
                    }
                },
                colors: [lineColor],
                pointSize: 20,
                pointShape: { type: 'square' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));


            chart.draw(data, options);
        }



        function getDate() {
            var today = new Date();
            var dd = String(today.getDate() + 1).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();

            today = yyyy + '-' + mm + '-' + dd;
            return today;
        }


        //Bench Logging -------------------------------------------------------------------
        let benchW = document.getElementById("BenchInW");
        let benchR = document.getElementById("BenchInR");

        document.getElementById("BenchLogAddBt").addEventListener("click", function () {

            benchWval = benchW.value
            benchRval = benchR.value

            if (benchRval != '' && benchWval != '') {
                newMax = parseInt(benchWval) * (1 + (parseInt(benchRval) / 30));
                dayString = getDate();
                benchData.push([new Date(dayString), newMax]);
                drawGraph(benchData, "Bench", 'blue');
            }

            benchW.value = '';
            benchR.value = '';
        });

        document.getElementById("BenchLogBt").addEventListener("click", function () {
            $('.ui.modal.bench').modal('show');
        });

        //Deadlift Logging -------------------------------------------------------------------
        let deadliftW = document.getElementById("DeadliftInW");
        let deadliftR = document.getElementById("DeadliftInR");

        document.getElementById("DeadliftLogAddBt").addEventListener("click", function () {

            deadliftWval = deadliftW.value
            deadliftRval = deadliftR.value

            if (deadliftRval != '' && deadliftWval != '') {
                newMax = parseInt(deadliftWval) * (1 + (parseInt(deadliftRval) / 30));
                dayString = getDate();
                deadliftData.push([new Date(dayString), newMax]);
                drawGraph(deadliftData, "Deadlift", 'red');

            }

            deadliftW.value = '';
            deadliftR.value = '';
        });

        document.getElementById("DeadliftLogBt").addEventListener("click", function () {
            $('.ui.modal.deadlift').modal('show');
        });

        //Overhead Logging -------------------------------------------------------------------
        let overheadW = document.getElementById("OverheadInW");
        let overheadR = document.getElementById("OverheadInR");

        document.getElementById("OverheadLogAddBt").addEventListener("click", function () {

            overheadWval = overheadW.value
            overheadRval = overheadR.value

            if (overheadRval != '' && overheadWval != '') {
                newMax = parseInt(overheadWval) * (1 + (parseInt(overheadRval) / 30));
                dayString = getDate();
                overheadData.push([new Date(dayString), newMax]);
                drawGraph(overheadData, "Overhead", 'orange');

            }

            overheadW.value = '';
            overheadR.value = '';
        });

        document.getElementById("OverheadLogBt").addEventListener("click", function () {
            $('.ui.modal.overhead').modal('show');
        });

        //Squat Logging -------------------------------------------------------------------
        let squatW = document.getElementById("SquatInW");
        let squatR = document.getElementById("SquatInR");

        document.getElementById("SquatLogAddBt").addEventListener("click", function () {

            squatWval = squatW.value
            squatRval = squatR.value

            if (squatRval != '' && squatWval != '') {
                newMax = parseInt(squatWval) * (1 + (parseInt(squatRval) / 30));
                dayString = getDate();
                squatData.push([new Date(dayString), newMax]);
                drawGraph(squatData, "Squat", 'green');

            }

            squatW.value = '';
            squatR.value = '';
        });

        document.getElementById("SquatLogBt").addEventListener("click", function () {
            $('.ui.modal.squat').modal('show');
        });
        //end-------------------------------------------------------------

        let benchBt = document.getElementById("BenchBt")

        window.addEventListener('load', (event) => {
            benchBt.click()
            benchBt.classList.add('active');
        });

        document.querySelectorAll('.lift').forEach(function () {
            this.addEventListener('click', function () {
                benchBt.classList.remove('active');
            })
        })









    </script>
</body>



</html>