
body {
	background-color: rgb(200, 200, 245);
}
h1,h3{
	font-family: 'Quicksand', sans-serif;
}
.completed {
	color: gray;
	text-decoration: line-through;
	opacity: 0.5;
}
h1 {
	text-align: center;
	padding-top: 20px;
}
.item p {
	margin: 0;
}
a {
	cursor: pointer;
	font-family: 'Quicksand', sans-serif;
}
a.button {
	
	text-decoration: underline;
}

img {
	margin: auto;
}
.ui.grid{
	margin: 5%;
}
.ui.circular {
	height: auto;
	width: 170px;
	/* border: 1px solid black; */
	
}

.ui.profile {
	height: auto;
	width: 138px;
	/* border: 1px solid black; */
	
}

/* .ui.inverted {
	display: block;
	margin-bottom: 5px;
	margin: auto;
	margin-bottom: 1em;
} */
/*---- 'Address & Contact Information' tag -----*/
/* .ui.center.aligned.header {
	color: #1b1c1d;
	font-family: 'Quicksand', sans-serif;
	margin: auto;
	margin-top: 5rem;
	margin-bottom: 5rem;
	
} */
#toggle-bar {
	padding-top: 15px;
	
}
/* ---------------------------------------- */



#toggle-bar {
	position: absolute;
	cursor: pointer;
}
#modalItem {
	margin-top: 2rem;
}
.fade {
	opacity: 1;
}


section {
	opacity: 0;
	transform: translate(0, 50px); 
	transition: all 2s;
}

section.visible {
	opacity: 1;
	transform: translate(0, 0); 
}

/* h3.ui.header > a {
	font-family: 'Quicksand', sans-serif;
	font-size: 24px;
  position: relative;
  color: #000;
  text-decoration: none;
}

h3.ui.header > a:hover {
  color: #000;
}
h3.ui.header > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
h3.ui.header > a:hover::before {
  visibility: visible;
  transform: scaleX(1);
} */



#goalsTable {
	background: #2980b9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
   
}
#container {
    width: 400px;
    margin: auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}
.fa-plus {
    float: right;
}
.completed {
    color: gray;
    text-decoration: line-through;
}

.description li {
	text-align: start;
	cursor: pointer;
	font-family: 'Quicksand', sans-serif;
    height: 25px;
	line-height: 40px;
	font-weight: bolder;
    
}

ul li {
	text-align: start;
	cursor: pointer;
	font-family: 'Quicksand', sans-serif;
    height: 40px;
	line-height: 40px;
	font-weight: bolder;
    
}

ul li:nth-child(2n) {
    background: #f7f7f7;
}
ul li:hover span {
    width: 40px;
    opacity: 1.0;
}
.ui.feed>.event>.content .meta {
	display: grid;
}

.ui.feed, .ui.feed>.event>.content .meta> * {
	margin: 0;
}

.event>.content:hover {
	transition: .9s;
	background-color: rgb(235, 235, 235);
}


div#main {
	margin: 0 2%;
	display: flex;
	justify-content:space-between; 
}

input {
    font-size: 18px;
    background-color: #f7f7f7;
	width: 100%;
	text-align: center;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: #2980b9;
    border: 3px solid rgba(0, 0, 0, 0);
}
input:focus {
     background: white;
     border: 3px solid #2980b9;
}

span {
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0px;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

.cols{
	width: fit-content;
    margin: auto;
}

.three.stackable {
	text-align: -webkit-center;
}

.ui.vertical.tabular.menu .item {
	font-size: 24px;
}

.ui.vertical.tabular.menu .item:hover {
	background-color: rgb(198, 160, 241);
	transition-duration: .7s;
}

/* When the hamburger is displayed */
@media (max-width: 768px){
	.mainMenu{
		display: none;
	}
	.mainMenu.hamburger{
		margin-top: 30px;
		display: block;
		cursor: pointer;

	}

	/* .ui.grid {
		justify-content: normal;
	} */
	#container{
		max-width: 300px;
	}

	#fade-scroll {
		max-height: 500px;
	}
	/* button.ui.icon.button {
		margin-top: 2%;
	} */
	h1{
		font-size: large;
	}

}


/* When the hamburger is NOT there yet */
@media (min-width: 769px){

	.mainMenu{
		display: flex;
		
	}
	.ui.grid {
		justify-content: center;
	}

	#toggle-bar{
		display: none;
	}
	#menuBar {
		margin-bottom: 20px;
	}

	button.ui.icon.button {
		margin-top: 2%;
	}
	

}
